@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
}
@media (max-width: 845px) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.section-title {
  text-align: center;
  padding: 40px !important;
  text-transform: uppercase;
}

.navigation-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: white;
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
}
.navigation-bar .logo__image {
  min-width: 250px;
  height: 100px;
  background-image: url(../../assets/img/logo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  margin-left: 7px;
}
@media (max-width: 1110px) {
  .navigation-bar .logo__image {
    min-width: 200px;
    height: 80px;
  }
}
@media (max-width: 845px) {
  .navigation-bar .logo__image {
    min-width: 200px;
    height: 80px;
    margin: auto;
  }
}

.nav__list,
.mobile-nav__list {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  width: 75%;
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1110px) {
  .nav__list,
  .mobile-nav__list {
    height: 40px;
    font-size: 16px;
  }
}
@media (max-width: 845px) {
  .nav__list,
  .mobile-nav__list {
    display: none;
  }
}
.nav__list .nav__item,
.mobile-nav__list .nav__item {
  padding: 0 2%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  list-style: none;
  border: 3px solid white;
  border-radius: 2px;
  transform: skew(-40deg);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1008px) {
  .nav__list .nav__item,
  .mobile-nav__list .nav__item {
    padding: 0 1%;
  }
}
.nav__list .nav__item a,
.mobile-nav__list .nav__item a {
  width: 100%;
  height: 100%;
  line-height: 3.2;
  text-decoration: none;
  color: inherit;
  transform: skew(40deg);
}
@media (max-width: 1110px) {
  .nav__list .nav__item a,
  .mobile-nav__list .nav__item a {
    line-height: 2.2;
  }
}
.nav__list .nav__item:hover,
.mobile-nav__list .nav__item:hover {
  color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  transition: border-color 1s, color 0.2s;
}

.hamburger-menu__icon {
  display: none;
  width: 25px;
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}
.hamburger-menu__icon div {
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: black;
  margin-bottom: 4px;
}
@media (max-width: 845px) {
  .hamburger-menu__icon {
    display: block;
  }
}

.backdrop-filter {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 60;
  opacity: 0.7;
  background-color: black;
}

.mobile-navigation-bar {
  width: 70%;
  height: 100vh;
  background-color: white;
  opacity: 0.95;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
@media (min-width: 845px) {
  .mobile-navigation-bar {
    display: none;
    transition: 2s;
  }
}
.mobile-navigation-bar .mobile-nav__list {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mobile-navigation-bar .mobile-nav__list .nav__item {
  font-size: 24px;
  font-weight: 700;
}
.mobile-navigation-bar .mobile-nav__btn--close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 40px;
  right: 25px;
  cursor: pointer;
}
.mobile-navigation-bar .mobile-nav__btn--close .mobile-nav__btn-bar,
.mobile-navigation-bar .mobile-nav__btn--close .mobile-nav__btn-bar::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
}
.mobile-navigation-bar .mobile-nav__btn--close .mobile-nav__btn-bar {
  transform: rotate(-45deg);
}
.mobile-navigation-bar .mobile-nav__btn--close .mobile-nav__btn-bar::after {
  transform: rotate(90deg);
}

.hero__image {
  width: 100%;
  height: 550px;
  margin-top: 100px;
  background-image: url(../../assets/img/van3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.hero__image .text-container {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 2;
  color: white;
}
.hero__image .text-container .about-us__text--bold {
  font-size: 34px;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 20px;
}
@media (max-width: 1110px) {
  .hero__image .text-container .about-us__text--bold {
    font-size: 30px;
  }
}
@media (max-width: 845px) {
  .hero__image .text-container .about-us__text--bold {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
.hero__image .text-container .about-us__text--normal {
  font-size: 18px;
}
@media (max-width: 1110px) {
  .hero__image .text-container .about-us__text--normal {
    font-size: 16px;
  }
}
@media (max-width: 1110px) {
  .hero__image .text-container {
    width: 500px;
    top: 50px;
  }
}
@media (max-width: 845px) {
  .hero__image .text-container {
    width: 80%;
    top: 360px;
    left: 20px;
    color: black;
  }
}
@media (max-width: 1110px) {
  .hero__image {
    margin-top: 80px;
    height: 400px;
  }
}
@media (max-width: 845px) {
  .hero__image {
    height: 350px !important;
    margin-bottom: 320px;
    margin-top: 0;
    height: 400px;
  }
}

.offer__nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 845px) {
  .offer__nav-bar {
    height: 220px;
  }
}

.offer__nav-list {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  width: 75%;
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1110px) {
  .offer__nav-list {
    height: 40px;
    font-size: 16px;
  }
}
@media (max-width: 845px) {
  .offer__nav-list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
}
.offer__nav-list .offer__nav-item {
  padding: 0 2%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  list-style: none;
  border: 3px solid white;
  border-radius: 2px;
  transform: skew(-40deg);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1008px) {
  .offer__nav-list .offer__nav-item {
    padding: 0 1%;
  }
}
@media (max-width: 845px) {
  .offer__nav-list .offer__nav-item {
    width: auto;
  }
}
.offer__nav-list a {
  width: 100%;
  height: 100%;
  line-height: 3.2;
  text-decoration: none;
  color: inherit;
  transform: skew(40deg);
}
@media (max-width: 1110px) {
  .offer__nav-list a {
    line-height: 2.2;
  }
}
.offer__nav-list .offer__nav-item:hover {
  color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  transition: border-color 1s, color 0.2s;
}

.offer-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  background-color: hsl(0, 0%, 93%);
  padding: 20px 0;
}
.offer-container .offer-container__image {
  width: 600px;
  align-self: flex-start;
}
@media (max-width: 1110px) {
  .offer-container .offer-container__image {
    align-self: center;
    width: 500px;
  }
}
@media (max-width: 845px) {
  .offer-container .offer-container__image {
    width: 100vw;
    max-width: 500px;
  }
}
.offer-container .offer-container__text {
  width: 50%;
  margin-left: 50px;
}
.offer-container .offer-container__text h2,
.offer-container .offer-container__text p,
.offer-container .offer-container__text ul {
  margin-bottom: 10px;
}
.offer-container .offer-container__text li {
  margin-left: 17px;
}
.offer-container .offer-container__text span {
  font-weight: 900;
}
@media (max-width: 1110px) {
  .offer-container .offer-container__text {
    width: 80%;
    margin: 10px auto;
  }
}
@media (max-width: 1110px) {
  .offer-container {
    flex-direction: column;
    align-items: center;
  }
}

.opinions__container {
  width: 80%;
  height: 500px;
  background-color: hsl(0, 0%, 93%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1110px) {
  .opinions__container {
    width: 100%;
  }
}
.opinions__container .opinions__container-child {
  width: 643px;
  height: 300px;
  background-color: white;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(255, 166, 0);
  overflow: hidden;
}
@media (max-width: 845px) {
  .opinions__container .opinions__container-child {
    max-width: 600px;
    margin: 0 10px;
  }
}
.opinions__container .opinions__container-child .opinions__box {
  position: absolute;
  transition: all 0.5s;
}
.opinions__container .opinions__container-child .opinions__box .opinions__image--standard {
  margin-right: 20px;
}
@media (max-width: 845px) {
  .opinions__container .opinions__container-child .opinions__box .opinions__image--standard {
    display: none;
  }
}
.opinions__container .opinions__container-child .opinions__box .opinions__image--mobile {
  display: none;
}
@media (max-width: 845px) {
  .opinions__container .opinions__container-child .opinions__box .opinions__image--mobile {
    margin-right: 400px !important;
    display: block;
    margin: auto;
  }
}
.opinions__container .opinions__btn {
  width: 70px;
  height: 70px;
  border: 3px solid rgb(255, 166, 0);
  color: rgb(255, 166, 0);
  background-color: inherit;
  position: absolute;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 700;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 845px) {
  .opinions__container .opinions__btn {
    border: none;
  }
}
.opinions__container .opinions__btn span {
  display: block;
  padding-bottom: 5px;
}
.opinions__container .opinions__btn-left {
  left: calc(25% - 180px);
}
@media (max-width: 845px) {
  .opinions__container .opinions__btn-left {
    left: 20vw;
    bottom: 17px;
  }
}
.opinions__container .opinions__btn-right {
  right: calc(25% - 180px);
}
@media (max-width: 845px) {
  .opinions__container .opinions__btn-right {
    right: 20vw;
    top: 17px;
  }
}

.testymonials__container {
  height: 500px;
  background-color: hsl(0, 0%, 93%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 200px;
}
.testymonials__container .testimonial__box {
  width: 150px;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  justify-self: center;
  align-self: center;
}
.testymonials__container .testimonial__box img {
  width: 100%;
}
.testymonials__container .testimonial__box:hover {
  cursor: pointer;
}
@media (max-width: 1110px) {
  .testymonials__container {
    padding: 20px 100px;
  }
}
@media (max-width: 845px) {
  .testymonials__container {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    align-content: center;
    padding: 20px 100px;
  }
}

.big-picture {
  width: 30vw !important;
  position: fixed;
  transition: all 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
@media (max-width: 1110px) {
  .big-picture {
    width: 40vw !important;
  }
}
@media (max-width: 845px) {
  .big-picture {
    width: 70vw !important;
  }
}

.prices__container {
  width: 80%;
  height: 500px;
  background-color: hsl(0, 0%, 93%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 1110px) {
  .prices__container {
    width: 100%;
  }
}
@media (max-width: 845px) {
  .prices__container {
    width: 100%;
    height: 700px;
  }
}

.price__table--normal {
  width: 80%;
  min-width: 800px;
  height: 40%;
  background: linear-gradient(to left top, rgb(255, 166, 0), rgb(249, 221, 169));
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 20px;
}
@media (max-width: 845px) {
  .price__table--normal {
    display: none;
  }
}

.price__table--mobile {
  display: none;
  width: 80%;
  max-width: 508px;
  height: auto;
  background: linear-gradient(to left top, rgb(255, 166, 0), rgb(249, 221, 169));
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 20px;
}
@media (max-width: 845px) {
  .price__table--mobile {
    width: 90%;
    display: block;
  }
}

.prices__table--cell {
  height: 70px;
  border: 4px solid hsl(0, 0%, 93%);
  text-align: center;
  padding: 10px;
}

.first-cell {
  background-color: hsl(0, 0%, 93%);
  background-image: url(../../assets/img/logo.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (max-width: 845px) {
  .first-cell {
    background-image: url(../../assets/img/symbol.png);
    background-size: 60%;
  }
}

@media (max-width: 845px) {
  .price__table-adnotations {
    width: 85%;
    max-width: 508px;
    padding-bottom: 50px;
    font-size: 12px;
  }
}

@keyframes rotating {
  100% {
    rotate: 360deg;
  }
}
.gallery__container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.gallery__container .gallery__container--content {
  width: 500px;
}
.gallery__container .gallery__container--content p {
  margin: 16px;
}
.gallery__container .gallery__container--content p:first-child {
  text-indent: 30px;
}
@media (max-width: 1110px) {
  .gallery__container .gallery__container--content {
    width: 400px;
  }
}
.gallery__container .gallery__container--centering-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(closest-side, rgb(255, 166, 0) 70%, rgb(252, 238, 214));
  border: 3px solid rgb(255, 166, 0);
  position: relative;
  animation: rotating 20s infinite linear;
  transition: 0.5s all;
}
@media (max-width: 1110px) {
  .gallery__container .gallery__container--centering-container {
    width: 353px;
    height: 353px;
  }
}
.gallery__container .gallery__image {
  width: 25%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  filter: grayscale(100%);
}
.gallery__container .image-2 {
  transform: rotateZ(45deg);
  transform-origin: bottom left;
  z-index: 2;
}
.gallery__container .image-3 {
  transform: rotateZ(90deg);
  transform-origin: bottom left;
  z-index: 3;
}
.gallery__container .image-4 {
  transform: rotateZ(135deg);
  transform-origin: bottom left;
  z-index: 4;
}
.gallery__container .image-5 {
  transform: rotateZ(180deg);
  transform-origin: bottom left;
  z-index: 5;
}
.gallery__container .image-6 {
  transform: rotateZ(225deg);
  transform-origin: bottom left;
  z-index: 6;
}
.gallery__container .image-7 {
  transform: rotateZ(270deg);
  transform-origin: bottom left;
  z-index: 7;
}
.gallery__container .image-8 {
  transform: rotateZ(315deg);
  transform-origin: bottom left;
  z-index: 8;
}
.gallery__container .gallery__image:hover {
  filter: grayscale(0%);
  z-index: 10;
  border: 4px solid rgb(255, 166, 0);
}
.gallery__container .gallery__container--centering-container:hover {
  scale: 1.03;
  background: radial-gradient(closest-side, rgb(255, 166, 0) 75%, rgb(252, 238, 214));
  cursor: pointer;
}
@media (max-width: 1110px) {
  .gallery__container {
    height: 500px;
  }
}
@media (max-width: 845px) {
  .gallery__container {
    height: 1100px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.is-active {
  right: 0;
}

.hidden {
  display: none;
}

.separator-line {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 166, 0);
}

.test {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
