// Root Styles file for all variables

$color-primary-main: white;
$color-secondary-main: hsl(0, 0%, 93%);
$color-priomary-effects: rgb(255, 166, 0);
$hamburger-icon--color: black;

$section-separator: 2rem;

$media-tablet: 1110px;
$media-mobile: 845px;
